/tmp/
*.aux
/main.bbl
/main.blg
/main.dvi
/main.glo
/main.glsdefs
/main.idx
/main.log
/main.maf
/main.mtc
/main.mtc0
/main.out
/main.ps
/main.toc
/main.xdy
/main.pdf
/main.fdb_latexmk
/main.fls
/main.synctex.gz
